<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pre-Inscripción - Parte 2</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <script>
        function toggleLaborFields() {
            const trabajaSi = document.getElementById('trabaja_si');
            const trabajaNo = document.getElementById('trabaja_no');
            const laborFields = document.querySelectorAll('.labor-field');

            if (trabajaSi.checked) {
                laborFields.forEach(field => field.disabled = false);
            } else {
                laborFields.forEach(field => field.disabled = true);
                laborFields.forEach(field => field.value = '');
            }
        }

        window.onload = function() {
            toggleLaborFields();
        };
                // Función para habilitar la selección de provincia si el país es Argentina
                function toggleProvinciaOtros() {
            const provinciaSelectOtros = document.getElementById('provincia_estudio_otros');
            const mensajeProvincia = document.getElementById('mensaje-provincia');

            {% if id_pais_estudio == 1 %} // 1 representa Argentina
                provinciaSelectOtros.disabled = false;
                mensajeProvincia.style.display = 'block';
            {% else %}
                provinciaSelectOtros.disabled = true;
                mensajeProvincia.style.display = 'none';
            {% endif %}
        }

        // Ejecutar funciones en la carga de la página
        window.onload = function() {
            toggleLaborFields();
            toggleProvinciaOtros();
        };
    </script>
    <style>
        body{
            height: 100vh;
            display: flex;
            justify-content: center; /* Centra horizontalmente */
            align-items: center; /* Centra verticalmente */
            margin: 0;
            }
                        
    </style>
</head>
<body>
    <div class="container">
        <div class="container rounded-sm" id="cont-insc">

            <div class="form-container">
                <!-- Sección de Estudios Cursados -->
                    <h4 class="text-primary text-center mt-3">Estudios Cursados</h4>
                    <form method="POST" action="/inscribite_3">
                    <div class="form-row">
                        <div class="col col-md-4 form-group">
                            <label for="titulo_base">Título Secundario:</label>
                            <input class="form-control form-control-sm" type="text" id="titulo_base" name="titulo_base" required>
                        </div>
                        <div class="col col-md-4 form-group">
                            <label for="anio_egreso">Año de Egreso:</label>
                            <input class="form-control form-control-sm" type="number" id="anio_egreso" name="anio_egreso" required>
                        </div>
                        <!-- Selección de provincia en función de Argentina -->
                        <div class="col col-md-4 form-group">
                            <label for="provincia_estudio_otros">Provincia (Solo si los otros estudios fueron en Argentina):</label>
                            <select class="form-control form-control-sm" id="provincia_estudio_otros" name="provincia_estudio_otros">
                                <option value="">Seleccione una provincia</option>
                                {% for provincia in provincias %}
                                    <option value="{{ provincia[0] }}">{{ provincia[2] }}</option>
                                {% endfor %}
                            </select>
                            <span id="mensaje-provincia" style="display: none; color: #a55722;">*Seleccione una provincia solo si estudió en Argentina.</span>
                        </div>
                        <div class="col col-md-4 form-group">
                            <label for="otros_estudios">Otros Estudios:</label>
                            <input class="form-control form-control-sm" type="text" id="otros_estudios" name="otros_estudios">
                        </div>
                        <div class="col col-md-4 form-group">
                            <label for="anio_egreso_otros">Año de Egreso (Otros Estudios):</label>
                            <input class="form-control form-control-sm" type="number" id="anio_egreso_otros" name="anio_egreso_otros">
                        </div>
                    </div>
                <!-- Sección de Datos Laborales -->
            <div class="form-container">
                    <h4 class="text-primary text-center mt-3">Datos Laborales</h4>
                    <div class="form-row">
                        <div class="col col-md-4 form-radio">
                            <label>¿Trabaja?</label>
                            <input class="form-control-sm" type="radio" id="trabaja_si" name="trabaja" value="si" onclick="toggleLaborFields()">
                            <label for="trabaja_si">Sí</label>
                            <input class="form-control-sm" type="radio" id="trabaja_no" name="trabaja" value="no" onclick="toggleLaborFields()" checked>
                            <label for="trabaja_no">No</label>
                        </div>
                        <div class="col col-md-4 form-group">
                            <label for="actividad">Actividad:</label>
                            <input class="labor-field form-control form-control-sm" type="text" id="actividad" name="actividad" disabled>
                        </div>
                        <div class="col col-md-4 form-group">
                            <label for="horario_habitual">Horario Habitual:</label>
                            <input class="labor-field form-control form-control-sm" type="text" id="horario_habitual" name="horario_habitual" disabled>
                        </div>
                        <div class="col col-md-4 form-group">
                            <label for="obra_social">Obra Social:</label>
                            <input class="labor-field form-control form-control-sm" type="text" id="obra_social" name="obra_social" disabled>
                        </div>
                    </div>
            </div>
                

            <div class="actions" id="boton-siguiente">
                <button type="submit" class="float-right mb-3">Siguiente</button>
            </div>
        </form>
        <div class="action" id="boton-atras">
            <form method="GET" action="{{ url_for('inscribite') }}">
                <button type="submit" class="float-left mb-3">Atrás</button>
            </form>
        </div>
        </div>
    </div>
    <script>
        // Si el alumno ya seleccionó Argentina en los otros estudios
        function toggleProvinciaOtros() {
        const provinciaSelectOtros = document.getElementById('provincia_estudio_otros');
        const mensajeProvincia = document.getElementById('mensaje-provincia');

        const paisEstudiosAnteriores = { id_pais_estudio }; // ID del país previamente seleccionado, este valor viene de la base de datos.

        if (paisEstudiosAnteriores === 1) { // Si '1' es el ID de Argentina
            provinciaSelectOtros.disabled = false;
            mensajeProvincia.style.display = 'block';
        } else {
            provinciaSelectOtros.disabled = true;
            provinciaSelectOtros.value = ''; // Limpiar la selección si no es Argentina
            mensajeProvincia.style.display = 'none';
        }
        }

    // Ejecutar al cargar la página
    window.onload = function() {
        toggleProvinciaOtros();
    };
    </script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="/static/js/bootstrap.bundle.min.js"></script>
</body>
</html>
