<script>
    function showTab(tabName) {
        const tabs = document.querySelectorAll('.tab-content');
        tabs.forEach(tab => tab.style.display = 'none');

        const activeTab = document.getElementById(tabName);
        if (activeTab) {
            activeTab.style.display = 'block';
        }

        const tabButtons = document.querySelectorAll('.tabs button');
        tabButtons.forEach(button => button.classList.remove('active'));
        document.getElementById(tabName + '-btn').classList.add('active');
    }
</script>

<nav role="navigation" id="menu">
    <ul class="nav nav-pills" id="pills-tab">
        <li class="nav-item" role="presentation">
            <a class="flex-sm-fill text-sm-center nav-link" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true" onclick="window.location.href='/alumnos?page=1&table=matriculacion'">Matriculación</a>
        </li>
        
        <li class="nav-item" role="presentation">
            <a class="flex-sm-fill text-sm-center nav-link" id="pills-profile-tab" data-toggle="pill" href="pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false" onclick="window.location.href='/alumnos?page=1&table=inscripciones'">Inscripciones</a>
        </li>
        
        <li class="nav-item" role="presentation">
            <a class="flex-sm-fill text-sm-center nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false" onclick="window.location.href='/alumnos?page=1&table=alumnos'">Alumnos</a>
        </li>
        
        <li class="nav-item" role="presentation">
            <a class="flex-sm-fill text-sm-center nav-link" id="pills-contact-tab" data-toggle="pill"  href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">Egresados</a>
        </li>
    </ul>
</nav>

<!--
<nav class="navbar">    
    <div class="menu-interno">
        <ul class="nav nav-pills" id="pills-tab" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Matriculación</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile"   
             aria-selected="false" onclick="window.location.href='alumnos?page=1&table=pre_inscripciones'">Inscripciones</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile"   
             aria-selected="false" onclick="window.location.href='alumnos?page=1&table=alumnos'">Alumnos</a>
            </li>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">Egresados</a>
            </li>
        </ul>
    </div>
</nav>
-->
