<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <style>
        body {
            display: block;
            text-align: left; /* Alinea el contenido a la izquierda */
            margin: 0;
            padding: 0;
        }
    </style>
    
</head>
<body>

    <div class="sidebar bg">
        <a href="{{ url_for('home') }}">
            <img src="/static/img/LOGO-SIN-FONDO-1000x707-1.png" alt="Escuela logo" width="100" height="100">
        </a>
        <ul>
            {% if 21 in permisos %} 
            <li class="{% if request.path == url_for('pre_inscripcion') %}active{% endif %}">
                <a href="{{ url_for('pre_inscripcion') }}"><i class="fas fa-user-plus"></i> Pre-Inscripción</a>
            </li>
            {% endif %}
    
            {% if 22 in permisos %} 
            <li class="{% if request.path == url_for('alumnos') %}active{% endif %}">
                <a href="{{ url_for('alumnos') }}"><i class="fas fa-user-graduate"></i> Alumnos</a>
            </li>
            {% endif %}
    
            {% if 23 in permisos %} 
            <li class="{% if request.path == url_for('profesores') %}active{% endif %}">
                <a href="{{ url_for('profesores') }}"><i class="fas fa-chalkboard-teacher"></i> Profesores</a>
            </li>
            {% endif %}
    
            {% if 24 in permisos %} 
            <li class="{% if request.path == url_for('carreras') %}active{% endif %}">
                <a href="{{ url_for('carreras') }}"><i class="fas fa-book"></i> Carreras</a>
            </li>
            {% endif %}
    
            {% if 25 in permisos %} 
            <li class="{% if request.path == url_for('horarios') %}active{% endif %}">
                <a href="{{ url_for('horarios') }}"><i class="fas fa-clock"></i> Horarios</a>
            </li>
            {% endif %}
    
            {% if 26 in permisos %} 
            <li class="{% if request.path == url_for('secretaria') %}active{% endif %}">
                <a href="{{ url_for('secretaria') }}"><i class="fas fa-user-tie"></i> Secretaría</a>
            </li>
            {% endif %}
    
            {% if 27 in permisos %} 
            <li class="{% if request.path == url_for('reportes') %}active{% endif %}">
                <a href="{{ url_for('reportes') }}"><i class="fas fa-chart-bar"></i> Reportes</a>
            </li>
            {% endif %}
    
    
            <li class="{% if request.path == url_for('logout') %}active{% endif %}">
                <a href="{{ url_for('logout') }}" class="logout"><i class="fas fa-sign-out-alt"></i> Cerrar sesión</a>
            </li>
    
            <li class="{% if request.path == url_for('logout') %}active{% endif %}">
                <a href="{{ url_for('seleccionar_perfil') }}" class="logout"><i class="fas fa-sign-out-alt"></i> Seleccionar perfil</a>
            </li>
        </ul>
    </div>
    <!-- jQuery y Bootstrap deben cargarse en cada página individual antes de incluir navbar -->
    <script>
        function home() {
          // Aquí puedes agregar código JavaScript adicional para realizar acciones antes de llamar a la función en el servidor
          window.location.href = "/home"; // Redirige a la ruta '/home'
        }
    </script>
</body>
</html>
