<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pre-Inscripción - Sistema de Gestión Académica</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <script>
    // Parsear la variable turnos_carreras a JSON
    const turnosCarreras = {{ turnos_carreras | tojson }};
    const carreras = {{ lista_carreras | tojson }};
    
    function updateCarreras() {
        const institucionSelect = document.getElementById('id_institucion');
        const carreraSelect = document.getElementById('carrera');
        const idInstitucion = institucionSelect.value;

        carreraSelect.innerHTML = '<option value="">Seleccione una carrera</option>';

        if (idInstitucion) {
            const carrerasDisponibles = carreras.filter(carrera => carrera.id_instituto == idInstitucion);

            carrerasDisponibles.forEach(carrera => {
                const option = document.createElement('option');
                option.value = carrera.id_carrera;
                option.textContent = carrera.nombre;
                carreraSelect.appendChild(option);
            });
        }
    }

    function updateTurno() {
        const carreraSelect = document.getElementById('carrera');
        const turnoSelect = document.getElementById('turno');
        const idCarrera = carreraSelect.value;

        turnoSelect.innerHTML = '<option value="">Seleccione un turno</option>';

        if (idCarrera) {
            const turnosDisponibles = turnosCarreras.filter(turno => turno.id_carrera == idCarrera);

            if (turnosDisponibles.length == 1) {
                turnoSelect.innerHTML = `<option value="${turnosDisponibles[0].id_turno}" selected>${turnosDisponibles[0].descripcion}</option>`;
                turnoSelect.disabled = false;
            } else if (turnosDisponibles.length > 1) {
                turnosDisponibles.forEach(turno => {
                    const option = document.createElement('option');
                    option.value = turno.id_turno;
                    option.textContent = turno.descripcion;
                    turnoSelect.appendChild(option);
                });
                turnoSelect.disabled = false;
            }
        } else {
            turnoSelect.disabled = false;
        }
    }

    document.addEventListener("DOMContentLoaded", function() {
        const institucionSelect = document.getElementById('id_institucion');
        institucionSelect.addEventListener('change', updateCarreras);

        const turnoSeleccionado = "{{ session.get('datos_personales', {}).get('turno', '') }}";
        const turnoSelect = document.getElementById('turno');
        
        if (turnoSeleccionado) {
            turnoSelect.value = turnoSeleccionado;
        }
    });

        function validarDNI(input) {
            const regex = /^[0-9]{8}$/;
            const errorElement = document.getElementById('error-dni');

            if (!regex.test(input.value)) {
                input.value = input.value.replace(/[^0-9]/g, '');
                errorElement.textContent = 'Por favor, ingrese solo 8 números.';
            } else {
                errorElement.textContent = '';
            }
        }
        function validar_numeros(input) {
            const regex = /^[0-9]$/;

            if (!regex.test(input.value)) {
                input.value = input.value.replace(/[^0-9]/g, '');
            } else {
                errorElement.textContent = '';
            }
        }


        // Filtra las provincias en función del país seleccionado
        function filterProvincias() {
            const id_pais = document.getElementById('id_pais').value;
            const provinciaSelect = document.getElementById('id_provincia');
            const provinciasData = document.getElementById('provincias-data').children;

            provinciaSelect.innerHTML = '<option value="">Seleccionar una provincia</option>';

            if (id_pais) {
                for (let i = 0; i < provinciasData.length; i++) {
                    const provinciaOption = provinciasData[i];
                    if (provinciaOption.getAttribute('data-pais') === id_pais) {
                        provinciaSelect.appendChild(provinciaOption.cloneNode(true));
                    }
                }
            }
        }
    </script>
    <style>
            html{
                margin-left: 15%;
            }
            html, body{
                height: 100%;
                display: flex;
                justify-content: center; /* Centra horizontalmente */
                align-content: center; /* Centra verticalmente */
            }
                        
    </style>
</head>
<body>
    <div class="container">
        <div class="container rounded-sm" id="cont-insc">
            {% include 'navbar.html' %}

            
                <div class="form-container">
                    <h4 class="text-primary text-center mt-3">Datos Personales</h4>
                    <form method="POST" action="/pre_inscripcion">
                        <div class="form-row">
                            <div class="col col-md-3 form-group">
                                <label for="nombre">Nombres:</label>
                                <input class="form-control form-control-sm" type="text" id="nombre" name="nombre" value="{{ session.get('datos_personales', {}).get('nombre', '') }}" required>
                            </div>
                            <div class="col col-md-3 form-group">
                                <label for="apellido">Apellido:</label>
                                <input class="form-control form-control-sm" type="text" id="apellido" name="apellido" value="{{ session.get('datos_personales', {}).get('apellido', '') }}" required>
                            </div>
                            <div class="col col col-md-3 form-group">
                      
                                <label for="id_sexo">Sexo:</label>
                                <select class="form-control form-control-sm" id="id_sexo" name="id_sexo" required>
                                    <option value="">Seleccione sexo</option>
                                    {% for sexo in sexos %}
                                        <option value="{{ sexo[0] }}">{{ sexo[1] }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col col col-md-3 form-group">
                                <label for="dni">DNI:</label>
                                <input class="form-control form-control-sm" type="number" id="dni" name="dni" maxlength="8"
                                       value="{{ datos_personales.get('dni', '') if error_dni else session.get('datos_personales', {}).get('dni', '') }}"
                                       oninput="validarDNI(this)" required>
                                <span id="error-dni" style="color: #a55772;">
                                    {% if error_dni %}
                                        Este DNI ya existe en el sistema.
                                    {% endif %}
                                </span>
                            </div>
                            <div class="col col col-md-3 form-group">
                                <label for="fecha_nacimiento">Fecha de Nacimiento:</label>
                                <input class="form-control form-control-sm" type="date" id="fecha_nacimiento" name="fecha_nacimiento" value="{{ session.get('datos_personales', {}).get('fecha_nacimiento', '') }}" required>
                            </div>
                            <div class="col col col-md-3 form-group">
                                <label for="lugar_nacimiento">Lugar de Nacimiento:</label>
                                <input class="form-control form-control-sm" type="text" id="lugar_nacimiento" name="lugar_nacimiento" value="{{ session.get('datos_personales', {}).get('lugar_nacimiento', '') }}" required>
                            </div>
                            <div class="col col col-md-3 form-group">
                                <label for="id_estado_civil">Estado Civil:</label>
                                <select class="form-control form-control-sm" id="id_estado_civil" name="id_estado_civil" required>
                                    <option value="">Seleccione</option>
                                    {% for estado in estado_civil %}
                                        <option value="{{ estado[0] }}">{{ estado[1] }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col col col-md-3 form-group">
                                <label for="cantidad_hijos">Cantidad de Hijos:</label>
                                <input class="form-control form-control-sm" type="number" id="cantidad_hijos" name="cantidad_hijos" min="0" value="{{ session.get('datos_personales', {}).get('cantidad_hijos', '') }}" oninput="validar_numeros(this)" required>
                            </div>
                            <div class="col col col-md-3 form-group">
                                <label for="familiares_a_cargo">Familiares a Cargo:</label>
                                <input class="form-control form-control-sm" type="number" id="familiares_a_cargo" name="familiares_a_cargo" min="0" value="{{ session.get('datos_personales', {}).get('familiares_a_cargo', '') }}"  oninput="validar_numeros(this)" required>
                            </div>
                            <div class="col col col-md-3 form-group">
                                <label for="domicilio">Domicilio:</label>
                                <input class="form-control form-control-sm" type="text" id="domicilio" name="domicilio" value="{{ session.get('datos_personales', {}).get('domicilio', '') }}" required>
                            </div>
                            <div class="col col col-md-3 form-group">
                                <label for="piso">Piso:</label>
                                <input class="form-control form-control-sm" type="number" id="piso" name="piso" value="{{ session.get('datos_personales', {}).get('piso', '') }}" oninput="validar_numeros(this)">
                            </div>
                            <div class="col col col-md-3 form-group">
                                <label for="id_pais">País:</label>
                                <select class="form-control form-control-sm" id="id_pais" name="id_pais" required onchange="filterProvincias()">
                                    <option value="">Seleccionar un país</option>
                                    {% for pais in paises %}
                                        <option value="{{ pais[0] }}" {% if session.get('datos_personales', {}).get('id_pais') == pais[0] %}selected{% endif %}>{{ pais[1] }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            
                            <div class="col col col-md-3 form-group">
                                <label for="id_provincia">Provincia:</label>
                                <select class="form-control form-control-sm" id="id_provincia" name="id_provincia" required>
                                    <option value="">Seleccionar una provincia</option>
                                    <!-- Aquí las provincias se cargarán dinámicamente -->
                                </select>
                            </div>
                            
                            <!-- Provincias ocultas en el DOM -->
                            <div id="provincias-data" style="display: none;">
                                {% for provincia in provincias %}
                                    <option value="{{ provincia[0] }}" data-pais="{{ provincia[2] }}">{{ provincia[1] }}</option>
                                {% endfor %}
                            </div>

                            <div class="col col col-md-3 form-group">
                                <label for="localidad">Localidad/Ciudad:</label>
                                <input class="form-control form-control-sm" type="text" id="localidad" name="localidad" 
                                       value="{{ session.get('datos_personales', {}).get('localidad', '') }}" 
                                       placeholder="Ingrese su ciudad" required>
                            </div>

                            <div class="col col col-md-3 form-group">
                                <label for="codigo_postal">Código Postal:</label>
                                <input class="form-control form-control-sm" type="text" id="codigo_postal" name="codigo_postal" value="{{ session.get('datos_personales', {}).get('codigo_postal', '') }}" oninput="validar_numeros(this)" required>
                            </div>

                            <div class="col col col-md-3 form-group">
                                <label for="telefono">Teléfono:</label>
                                <input class="form-control form-control-sm" type="number" id="telefono" name="telefono" value="{{ session.get('datos_personales', {}).get('telefono', '') }}" oninput="validar_numeros(this)" required>
                            </div>
                            <div class="col col col-md-3 form-group">
                                <label for="telefono_alt">Teléfono Alternativo:</label>
                                <input class="form-control form-control-sm" type="number" id="telefono_alt" name="telefono_alt" value="{{ session.get('datos_personales', {}).get('telefono_alt', '') }}" oninput="validar_numeros(this)" required>
                            </div>
                            <div class="col col col-md-3 form-group">
                                <label for="telefono_alt_propietario">A quién pertenece el teléfono alternativo:</label>
                                <input class="form-control form-control-sm" type="text" id="telefono_alt_propietario" name="telefono_alt_propietario" value="{{ session.get('datos_personales', {}).get('telefono_alt_propietario', '') }}" required>
                            </div>
                            <div class="col col col-md-3 form-group">
                                <label for="email">Email:</label>
                                <input class="form-control form-control-sm" type="email" id="email" name="email" value="{{ session.get('datos_personales', {}).get('email', '') }}" required>
                            </div>
                            <div class="col col-md-4 form-group">
                                <label for="id_institucion">Institución:</label>
                                <select class="form-control form-control-sm" id="id_institucion" name="id_institucion" required onchange="updateCarreras()">
                                    <option value="">Seleccione una institución</option>
                                    {% for instituto in institutos %}
                                        <option value="{{ instituto[0] }}">{{ instituto[1] }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col col-md-3 form-group">
                                <label for="carrera">Carrera:</label>
                                <select class="form-control form-control-sm" id="carrera" name="carrera" onchange="updateTurno()" required>
                                    <option value="">Seleccione una carrera</option>
                                    {% for carrera in lista_carreras %}
                                        <option value="{{ carrera['id_carrera'] }}">{{ carrera['nombre'] }}</option>
                                    {% endfor %}
                                </select>
                            </div>                            
                            <div class="form-group">
                                <label for="turno">Turno</label>
                                <select class="form-control form-control-sm" id="turno" name="turno" required>
                                    <option value="">Seleccione un turno</option>
                                    <!-- Aquí se cargarán dinámicamente los turnos -->
                                </select>                    
                            </div>
                        
                        </div>
                        <div class="actions" id="boton-siguiente">
                                <button type="submit" class="float-right mb-3">Siguiente</button>
                        </div>
                    </form>
                    <div class="action" id="boton-atras">
                        <form method="GET" action="{{ url_for('home') }}">
                            <button type="submit" class="float-left mb-3">Atrás</button>
                        </form>
                    </div>
                </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="/static/js/bootstrap.bundle.min.js"></script>
</body>
</html>
